[submodule "client/shared"]
	path = client/shared
	url = https://github.com/buzz-code/nra-client.git
[submodule "server/shared"]
	path = server/shared
	url = https://github.com/buzz-code/nra-server.git
